.update{
    
    padding: 2rem 5rem;
}
.update>form{
    display:flex;
    flex-direction: column;
    width:500px;
    gap:1rem;
}
.update>form div{
    display: flex;
    flex-direction:column;
}
.update>form input{
    outline:none;
    border:none;
    margin-top: 5px;
    border-bottom: 1px solid grey;
    padding:5px 0px;
}
.updateBtn{
    width:70px;
    background-color:green;
    color:white;
    border:none;
    padding:5px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media screen and (max-width: 600px) {
  .update{
    padding:2rem;
    
  }
  .update>form{
    width:100%;
  }
}