*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Jost', sans-serif;
}
body{
 
 font-size: 15px;
 
 font-weight: 400;
 overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: 1px ;  /* Firefox */
}
::-webkit-scrollbar {
    display: none; /* for Chrome, Safari and Opera */
}
button:hover{
cursor:pointer;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: grey rgb(243, 242, 241);
  
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(243, 242, 241);
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  
}


@media screen and (max-width: 1200px) {
  body{
    overflow-y: scroll;
  }
}